.idea
.vscode

backend/node_modules
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/vendor
backend/.env
backend/.env.backup
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log
backend/.idea
backend/.vscode
backend/database/seeders/sql

frontend/.DS_Store
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/package-lock.json
frontend/tests/**/coverage/

# Editor directories and files
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln